<!--
Kasyn Tang
February, 2024
HTML file for Job App Setup
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/experience_styles.css">
</head>
<body>
    <div class="form-header">
        <h3 class="container my-3">SoftwareCompany LLC</h3>
        <h2 class="container">Software Development Internship</h2>
        <p class="container">Seattle Washington, Paid, 12 weeks</p>
    </div>
    <div class="container">
            <form action="#" method="post" class="row">
                <h1 class="col-md-12">Experience</h1>
            <div class="col-md-8">
                <label for="biography"><b>Biography</b></label>
                <textarea class="form-control" name="bio" id="biography" rows="9"></textarea>
            </div>

            <div class="col-md-4">
                    <label for="githubLink"><b>GitHub Link</b></label>
                    <input type="url" name="github" class="form-control" id="githubLink" placeholder="github.com/my-github">

                    <label><b>Years Experience</b></label>
                    <div>

                        <repeat group="{{ @years }}" value="{{ @years }}">
                            <label class="radio-inline">
                                <input type="radio"
                                       name="years"
                                       id="{{ @years }}"
                                       value="{{ @years }}"
                                > {{ @years }}
                            </label>
                        </repeat>
                        <check if="{{ isset(@errors['years']) }}">
                            <span class="err">{{ @errors['years'] }}</span>
                        </check>
                    </div>


                    <label><b>Willing to Relocate</b></label>
                    <div>
                        <repeat group="{{ @relocate }}" value="{{ @relocate }}">
                            <label class="radio-inline">
                                <input type="radio"
                                       name="relocate"
                                       id="{{ @relocate }}"
                                       value="{{ @relocate }}"
                                > {{ ucwords(@relocate) }}
                            </label>
                        </repeat>
                    </div>
                  <div>
                      <button type="submit" class="btn btn-primary">Next ></button>
                  </div>
            </div>
            </form>
      </div>
    </div>
</body>
</html>