<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/info_styles.css">
</head>
<body>
<div class="form-header">
    <h3 class="container my-3">SoftwareCompany LLC</h3>
    <h2 class="container">Software Development Internship</h2>
    <p class="container">Seattle Washington, Paid, 12 weeks</p>
</div>
<div class="container">
    <div class="row">
        <h1>Job Openings Mailing Lists</h1>

        <form action="#" method="post" class="form-horizontal">

        <!-- Software Development Jobs -->
        <div class="row mb-3">
            <div class="col-12">
                <p><b>Software Development Jobs</b></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="javascript" value="javascript">
                    <label class="form-check-label" for="javascript">JavaScript</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="php" value="php">
                    <label class="form-check-label" for="php">PHP</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="java" value="java">
                    <label class="form-check-label" for="java">Java</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="python" value="python">
                    <label class="form-check-label" for="python">Python</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="html" value="html">
                    <label class="form-check-label" for="html">HTML</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="css" value="css">
                    <label class="form-check-label" for="css">CSS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="react" value="react">
                    <label class="form-check-label" for="react">ReactJS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="node" value="node">
                    <label class="form-check-label" for="node">NodeJs</label>
                </div>
            </div>
        </div>

        <!-- Industry Verticals -->
        <div class="row">
            <div class="col-12">
                <p><b>Industry Verticals</b></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="saas" value="saas">
                    <label class="form-check-label" for="saas">SaaS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="healthTech" value="healthTech">
                    <label class="form-check-label" for="healthTech">Health tech</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="agTech" value="agTech">
                    <label class="form-check-label" for="AGTech">Ag tech</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="hrTech" value="hrTech">
                    <label class="form-check-label" for="hrTech">HR tech</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="industrial" value="industrial">
                    <label class="form-check-label" for="industrial">Industrial tech</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="jobs[]" id="cyber" value="cybersecurity">
                    <label class="form-check-label" for="cyber">Cybersecurity</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary float-right">Next ></button>
            </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>
