<!--
Kasyn Tang
February, 2024
HTML file for Job App Setup
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/info_styles.css">
</head>
<body>
<div class="form-header">
    <h3 class="container my-3">SoftwareCompany LLC</h3>
    <h2 class="container">Software Development Internship</h2>
    <p class="container">Seattle Washington, Paid, 12 weeks</p>
</div>
<div class="container">
    <div class="row"  id="job-opening">
        <h1 >Job Openings Mailing Lists</h1>

        <form action="#" method="post" class="form-horizontal">

        <!-- Software Development Jobs -->
        <div class="row mb-3">
            <div class="col-12">
                <p><b>Software Development Jobs</b></p>
                    <repeat group="{{ @jobs }}" value="{{ @jobs }}">
                        <label class="radio-inline">
                            <input type="checkbox"
                                   name="jobs[]"
                                   id="{{ @jobs }}"
                                   value="{{ @jobs }}"
                            > {{ @jobs }}
                        </label>
                    </repeat>
            </div>
        </div>

        <!-- Industry Verticals -->
        <div class="row">
            <div class="col-12">
                <p><b>Industry Verticals</b></p>
                <repeat group="{{ @vertical }}" value="{{ @vertical }}">
                    <label class="radio-inline">
                        <input type="checkbox"
                               name="vertical[]"
                               id="{{ @vertical }}"
                               value="{{ @vertical }}"
                        > {{ @vertical }}
                    </label>
                </repeat>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary float-right">Next ></button>
            </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>
