<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="styles/experience_styles.css">-->
<!--    <link rel="stylesheet" href="styles/info_styles.css">-->
    <link rel="stylesheet" href="styles/summary_styles.css">

</head>
<body>
    <div class="form-header">
        <h3 class="container my-3">SoftwareCompany LLC</h3>
        <h2 class="container">Software Development Internship</h2>
        <p class="container">Seattle Washington, Paid, 12 weeks</p>
    </div>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <p>Name: {{ @SESSION.first }} {{ @SESSION.last }}</p>
                <p>Email: {{ @SESSION.email }}</p>
                <p>State: {{ @SESSION.state }}</p>
                <p>Phone: {{ @SESSION.phone }}</p>
                <p>Github Link: {{ @SESSION.github }}</p>
                <p>Experience: {{ @SESSION.years }} years</p>
                <p>Willing To Relocate: {{ @SESSION.relocate }}</p>
                <p>Mailing list: {{ @SESSION.jobs }}</p>
            </div>
            <div class="col-md-6">
                <img src="images/office.jpg" alt="Profile Image" class="img-fluid rounded-3">
                <h2>Summary</h2>
                <p>{{ @SESSION.bio }}</p>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit My Application</button>
            </div>
        </div>

    </section>
</body>
</html>