<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/experience_styles.css">
    <link rel="stylesheet" href="styles/info_styles.css">
</head>
<body>
<div class="form-header">
    <h3 class="container my-3">SoftwareCompany LLC</h3>
    <h2 class="container">Software Development Internship</h2>
    <p class="container">Seattle Washington, Paid, 12 weeks</p>
</div>
<div class="container">
    <div class="row">
        <p>yo: {{ @SESSION.jobs }} </p>
    </div>
</div>
</body>
</html>