<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internship Application Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="styles/experience_styles.css">-->
<!--    <link rel="stylesheet" href="styles/info_styles.css">-->
    <link rel="stylesheet" href="styles/summary_styles.css">

</head>
<body>
    <div class="form-header">
        <h3 class="container my-3">SoftwareCompany LLC</h3>
        <h2 class="container">Software Development Internship</h2>
        <p class="container">Seattle Washington, Paid, 12 weeks</p>
    </div>
    <section class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <p>Name: </p>
                <p>Email: </p>
                <p>State: </p>
                <p>Phone: </p>
                <p>Github Link: </p>
                <p>Experience: </p>
                <p>Willing To Relocate: </p>
                <p>Mailing list: {{ @SESSION.jobs }}</p>
            </div>
            <div class="col-md-6">
                <img src="images/office.jpg" alt="Profile Image" class="img-fluid rounded-3">
                <h2>Summary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ornare condimentum.
                    Suspendisse interdum at felis in iaculis. Donec sed vehicula leo. Praesent iaculis nisl nec magna
                    pellentesque, sit amet dapibus purus vestibulum. Aliquam eget molestie nisi. Morbi eu aliquam orci,
                    ac dictum lacus. Aenean odio mi, euismod vel congue ut, finibus eget nisi. Praesent ullamcorper nec
                    erat quis pharetra. Etiam ut lectus pretium, pharetra leo et, euismod enim. </p>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit My Application</button>
            </div>
        </div>

    </section>
</body>
</html>