/*
Kasyn Tang
February, 2024
CSS file for Job App Setup
*/
h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.row {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    display: flex;
}
.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    float: right;
    padding-left: 144px;
    padding-right: 144px;
}
.btn-primary:hover {
    background-color: #0cf316;
}

.note {
    font-size: 1rem;
    color: #6c757d;
    padding: 25px 22px 26px;
    margin: -225px -758px 0px 711px;
    background: #dedfe2;
}
