/*
Kasyn Tang
January 20, 2024
CSS file for Job App Setup
*/

body {
    background-color: papayawhip;
}

header {
    border-bottom: 1px solid;
}

.btn-primary {
    background-color: #91c644;
    border: none;
    border-radius: 30px;
}


h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

.quote {
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}