body {
    background-color: papayawhip;
}

header {
    border-bottom: 1px solid;
}

.btn-primary {
    background-color: #91c644;
    border: none;
}


h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}